{% extends "layout.html" %}

<!-- Inspired by https://github.com/Wildog/flask-file-server/blob/master/templates/index.html -->

<head>
  <title>File Browser</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/listr.pack.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.filer.css')}}">
</head>

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-sm-offset-7 col-md-offset-8 pull-sm-right">
        <div class="form-group">
            <label class="form-control-label sr-only" for="listr-search">Search</label>
            <input type="text" id="listr-search" class="form-control" placeholder="Search">
        </div>
      </div>
      <div class="pull-sm-right">
        <div class="btn-group">
          <a data-toggle="modal" data-target="#uploader-modal" class="btn btn-secondary text-muted">Upload</a>
          {% if hide_dotfile == 'yes' %}
          <a href="?hide-dotfile=no" class="btn btn-secondary text-muted">Show Dotfiles</a>
          {% else %}
          <a href="?hide-dotfile=yes" class="btn btn-secondary text-muted">Hide Dotfiles</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table id="listr-table" class="table table-hover">
        <thead>
          <tr>
            <th class="text-xs-left " data-sort="string">Name</th>
            <th class="text-xs-right " data-sort="int">Size</th>
            <th class="text-xs-right " data-sort="int">Modified</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">
            </td>
          </tr>
        </tfoot>
        <tbody>
          {% if 'directories' in filesystem_dict %}
            {% for entry in filesystem_dict.directories %}
              <tr>
                <td class="text-xs-left " data-sort-value="dir-{{entry.name | lower}}"><i class="fa fa-fw fa-folder " aria-hidden="true"></i>&nbsp;<a href="{{entry.name}}/" ><strong>{{entry.name}}</strong></a></td>
                <td class="text-xs-right " data-sort-value="-1">&mdash;</td>
                <td class="text-xs-right " data-sort-value="{{entry.mtime}}" title="{{entry.mtime}}">{{entry.mtime}}</td>
              </tr>
            {% endfor %}
          {% endif %}
          {% if 'files' in filesystem_dict %}
            {% for entry in filesystem_dict.files %}
              <tr>
                <td class="text-xs-left " data-sort-value="file-{{entry.name | lower}}"><i class="fa fa-fw {{entry.name}} " aria-hidden="true"></i>&nbsp;
                <a {% if entry.name %} data-toggle="modal" data-target="#viewer-modal" data-type="{{entry.name}}" {% endif %} href="{{entry.name}}" data-size="{{entry.size}}">{{entry.name}}</a>
                </td>
                <td class="text-xs-right " data-sort-value="{{entry.size}}" title="{{entry.size}} bytes">{{entry.size}}</td>
                <td class="text-xs-right " data-sort-value="{{entry.mtime}}" title="{{entry.mtime}}">{{entry.mtime}}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="modal fade" id="viewer-modal" tabindex="-1" role="dialog" aria-labelledby="file-name" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-xs-right" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-left" id="file-name">&nbsp;</h4>
            <small class="text-muted" id="file-meta"></small>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <div class="pull-xs-left">
              <button type="button" class="btn btn-link highlight hidden-xs-up">Apply syntax highlighting</button>
            </div>
            <div class="pull-xs-right">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              <div class="btn-group">
                <a href="#" class="btn btn-primary fullview" download>Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="uploader-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <form id="upload-files" method="post" enctype="multipart/form-data">
                <input type="file" name="files[]" id="filer_input" multiple="multiple">
            </form>
          </div>
          <div class="modal-footer">
            <div class="pull-xs-right">
              <button type="button" id="close-uploader" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form id="login">
            <div class="modal-body">
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"> </i><label>Username</label>
                <input type="text" id="username" class="form-control">
              </div>
              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"> </i>
                <label>Password</label>
                <input type="password" id="password" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <div class="pull-xs-right">
                <button type="button" id="close-login" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" id="send-login" class="btn btn-secondary">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  </script>

  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/tether.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/listr.pack.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.filer.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.base64.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/custom.js')}}"></script>
{% endblock %}

